html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}
body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#ff9966,#ff5e62);
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:40px 20px;
    color:white;
}

h1{
    margin-bottom:30px;
}

.video-box{
    width:80%;
    max-width:800px;
    background:white;
    padding:15px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

video{
    width:100%;
    border-radius:10px;
}

.content-box{
    margin-top:30px;
    width:80%;
    max-width:800px;
    background:white;
    color:black;
    padding:20px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.back-btn{
    margin-top:30px;
    padding:10px 25px;
    background:white;
    color:#ff5e62;
    border:none;
    border-radius:25px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.back-btn:hover{
    background:#222;
    color:white;
}
footer{
    width: 103%;
    background: linear-gradient(to right, #000428, #004e92);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}